/* Center all static figures (like tmap plot, ggplot, etc.) */
.figure {
  text-align: center;
}

/* Make images and plots align in the middle */
.figure img, .figure svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Center HTML widgets (like leaflet or tmap view) */
.html-widget {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
